{{validated-field
  type="text"
  model=model
  value=model.name
  attrName="name"
  placeholder="Name"}}

{{validated-field
  type="text"
  model=model
  value=model.eMail
  attrName="eMail"
  placeholder="E-Mail"}}

{{validated-field
  type="password"
  model=model
  value=model.password
  attrName="password"
  placeholder="Password"}}

<button {{action "save" model}} class="top-margin btn-save {{if (not (v-get model "isValid")) "disabled"}}">
  Save
</button>

<br />