{{validated-field
  type="text"
  model=model
  value=model.name
  valuePath="name"
  didValidate=didValidate
  placeholder="Name"}}

{{validated-field
  type="text"
  model=model
  value=model.eMail
  valuePath="eMail"
  didValidate=didValidate
  placeholder="E-Mail"}}

{{validated-field
  type="password"
  model=model
  value=model.password
  valuePath="password"
  didValidate=didValidate
  placeholder="Password"}}

<button {{action "save" model}} class="top-margin btn-save {{if (not (v-get model "isValid")) "disabled"}}">
  Save
</button>

<br />